/* Adding a background image, text color, font. */
html, 
body {
    background-image: url("../images/pink-sunset.jpeg");
    color: white;
    font-family: 'Jura', sans-serif;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.wrapper {
    flex: 1 0 auto;
}
/* adding a box shadow, background color, changing default navbar styles.*/
nav {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 15px 20px -6px rgb(61, 26, 93);
    background: lightcyan;
    font-size: 20px;
    width: 100%;
    padding: 30px;
}

h1 {
    padding-top: 40px;
}
/* Making font size more uniform across the website.*/
p,
figcaption,
label {
    font-size: 18px;
}
/* Making more space between portfolio images. */
figure {
    padding: 10px;
}
/* Specifying font size and format for footer.*/
footer {
    font-size: 20px;
    text-align: center;
    flex: 1;
    margin: 40px;
    scroll-padding-top: 40%;
}
/*allowed the navbar to span entire window. */
.container-fluid {
    padding: 0px;
    margin: 0px;
} 
/* Editing appearance of contact input boxes, paragraphs, image padding. */ 
.container-lg {
    max-width: 50%;
    /* padding-left: 15%;
    padding-right: 15%; */
}

.aboutMeParagraph {
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 40px;
}
.portImage {
    height: 300px;
    width: 300px;
}

#sedonaPic {
    height: auto;
    padding: 12%;
}
/* Changing the appearance for just my name at the top. */
#name {
    font-size: 40px;
    font-weight: bolder;
    padding: 20px;
}
/* Adding unique style for my email link. */
#email {
    font-family: 'Cambria';
    font-size: 20px;
    text-decoration: none;
    color: lightpink;
    text-align: center;
}
/* Unique style for the Linkedin link. */
#linkedIn {
    color: lightskyblue;
}