* {
    
}

body {
    background-image: url("../images/pink-sunset.jpeg");
    color: white;
    font-family: 'Jura', sans-serif;
    
}

nav {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 15px 20px -6px rgb(66, 24, 105);
    background: lightcyan;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 30px;
}

main {
    /* border: solid black 2px; */
    
}

h1 {
    padding-top: 40px;
}

p,
figcaption,
label {
    font-size: 18px;
}

.container-fluid {
    padding: 0px;
}

.container-lg {
    padding-left: 15%;
    padding-right: 15%;
}

.aboutMeParagraph {
    padding-top: 45px;
}
.portImage {
    height: 300px;
    width: 300px;
}

#sedonaPic {
    height: auto;
    padding: 12%;
}

#aboutMeParagraph {
    padding-right: 10%;
}

figure {
    padding: 10px;
}

footer {
    font-size: 20px;
    text-align: center;
    position: 
}

#name {
    font-size: 40px;
    font-weight: bolder;
    padding: 20px;
}

#email {
    font-family: 'Cambria';
    font-size: 20px;
    text-decoration: none;
    color: lightpink;
    text-align: center;
}

#linkedIn {
    color: lightskyblue;
}