h1 {
    padding: 15px;
}

.portImage {
    display: flex;
    justify-content: center;
    border: solid 20px;
}

figcaption {

}
}
/* body {
    color: bisque;
    background-color: rgb(54, 54, 54);
}

.portfolio {
    text-align: center;
}
main {
    text-align: center;
    float: left;
}

aside {
    float: right;
}

figure {
    padding: 10px;
}

p {
    font-family: cursive;
}

*/
footer {
    background: red;
    font-family: 'Courier';
    display: flex;
    justify-content: center;
    color: green;
    
}