body {
    text-align: center;
    color: bisque;
    background-color: rgb(54, 54, 54);
}

h1 {
    color: forestgreen;
    font-weight: bold;
}

main {
    float: left;
}

aside {
    float: right;
}

figure {
    padding: 10px;
}

p {
    font-family: cursive;
}

footer {
    clear: fix;
}